<head>
    <title>MyFace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/post_list.css">
    <link rel="stylesheet" type="text/css" href="/css/create_post.css">
    <link rel="stylesheet" type="text/css" href="/css/user_list.css">
    <link rel="stylesheet" type="text/css" href="/css/create_user.css">



</head>