<header>
  <nav>

    <button id="menuButton" class="menu" type="submit"></button>
     <ul class="menuArea">
     <!-- <a id='postLink' class="postLinkClose" href="/posts">Posts</a> 
   <a id='userLink' class="userLinkClose" href="/users">Users</a>  -->
      <li> <a id='postLink' class="menuItem" href="/posts">Posts</a> </li>
      <li><a id='userLink' class="menuItem" href="/users">Users</a> </li> 
    </ul>
  </nav>
</header>