<html lang="en-gb">
<%- include('_head') -%>

<body>

<h1 class="createPost" >Create Post</h1>
<form method="post" action="/posts/create">
    <label>
        Post Message:
        <input type="text" name="message" required/>
    </label>
    <label>
        Image URL:
        <input type="url" name="imageUrl" required/>
    </label>
    
    <button type="submit">Submit</button>
</form>
<%- include('_footer') -%>
</html>