<html lang="en-gb">

<body>
<h1 id="createNewUser">Create User</h1>
<form method="post" action="/users/create">
    <label class="createUserLabel">
        <p id="name">Name:</p>
        <input id="nameInput" type="text" name="name" pattern="[a-zA-Z ]+" placeholder="Enter name here" required/>
    </label>
    <label class="createUserLabel">
        <p id="userName">Username:</p>
        <input id="userNameInput" type="text" name="username" pattern ="[a-z]+" placeholder="Enter a user name" required/>
    </label>
    <label class="createUserLabel">
        <p id="email">Email:</p>
        <input id="emailInput" type="email" name="email" placeholder="Enter your email" required/>
    </label>
    <label class="createUserLabel">
        <p id="profileImageUrl">Profile Image Url:</p>
        <input id="profileImageUrlInput" type="url" name="profileImageUrl" placeholder="Enter URL of your profile image" required/>
    </label>
    <label class="createUserLabel">
        <p id="coverImageUrl">Cover Image Url:</p>
        <input id="coverImageUrlInput" type="url" name="coverImageUrl" placeholder="Enter URL of your cover image" required/>
    </label>
    <button class="createUserButton" type="submit" >Submit</button>
</form>
</body>
</html>