<html lang="en-gb">

<body>
<h1 id="createNewUser">Create User</h1>
<form method="post" action="/users/create">
    <label class="createUserLabel">
        <p id="name">Name:</p>
        <input id="nameInput" type="text" name="name" required/>
    </label>
    <label class="createUserLabel">
        <p id="userName">Username:</p>
        <input id="userNameInput" type="text" name="username" required/>
    </label>
    <label class="createUserLabel">
        <p id="email">Email:</p>
        <input id="emailInput" type="email" name="email" required/>
    </label>
    <label class="createUserLabel">
        <p id="profileImageUrl">ProfileImageUrl:</p>
        <input id="profileImageUrlInput" type="text" name="profileImageUrl" required/>
    </label>
    <label class="createUserLabel">
        <p id="coverImageUrl">CoverImageUrl:</p>
        <input id="coverImageUrlInput" type="text" name="coverImageUrl" required/>
    </label>
    <button type="submit">Submit</button>
</form>
</body>

</html>