h1.createPost {
    margin-top: 48px;
}

.createNewPost {
    width:80%;
    display: grid;
    position: relative;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: left;
    margin-bottom: 24px;
    height: 30px;
    align-items: center;
  }
#postMessage {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
#postMessageInput {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}
#imageUrl {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
}
#imageUrlInput {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
}



