    @media only screen and (max-width: 375px) {

        .postList {
            width:100%;
            display: grid;
            grid-template-columns: 1fr, 1fr;
            grid-template-rows: 50%, 10%, 10%, 10%;
            row-gap: 3px;
           
            
           
          }
          
        .postimages {
            width: 100%; 
            justify-content: center;
            grid-column: 1/ span 2;
            grid-row: 1;

        }
        .postMessage {
            text-align: center;
            grid-column: 1/ span 2;
            grid-row: 2;          

        }

        

        .like-form {
           
            grid-column: 1;
            grid-row: 3;
          
            
        }
        .dislike-form {
           
            grid-column: 2;
            grid-row: 3;
            
    
    
        }
        #like-text {
           
            grid-column: 1;
            grid-row: 4;
            margin-top: 0;
           
    
    
        }
        #dislike-text {
            grid-column: 2;
            grid-row: 4;
            margin-top: 0;
           
    
        } 
    
    }


    

    