@media only screen and (max-width: 375px) {
    .postList {
    
        display: flex;
        flex-direction: column;        
        position: relative;
        gap: 10px 20px;
    }

    .postimages {
        
        margin: auto;
        width: 50%;
        
    }

    .postMessage {
        margin: auto;
       
    }
   
    

   
}